/* Importing Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

/* General Styles */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
    cursor: pointer;
}

nav ul li a:hover {
    color: #ddd;
}

main {
    padding: 30px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* Home Page Styles */
.intro {
    background-color: #fff;
    padding: 25px;
    margin: 25px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.intro img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 25px 0;
}

/* About Page Styles */
.about {
    background-color: #fff;
    padding: 25px;
    margin: 25px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 25px 0;
}

/* Blog Page Styles */
.posts article {
    background-color: #fff;
    padding: 25px;
    margin: 25px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.posts img {
    width: 100%; /* Adjusted for responsiveness */
    height: auto;
    display: block;
    margin: 25px auto;
}

/* Contact Page Styles */
.contact-form {
    background-color: #fff;
    padding: 25px;
    margin: 25px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-form form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.contact-form label {
    margin: 12px 0 6px;
}

.contact-form input,
.contact-form textarea {
    padding: 12px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

.contact-form button {
    padding: 12px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #555;
}

.contact-form img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 25px 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    header h1 {
        font-size: 18px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

   .contact-form form {
        width: 90%;
    }
}

/* Page Visibility */
.page {
    display: none;
}

.page.active {
    display: block;
}
